<!DOCTYPE html>
<html lang="en">
<head>
    <title>CoronaVırus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <section id="global">
        <div class="container-fluid">
            <h1 id="header" style=" margin: 30px 0px 30px 0px; font-weight: bold;" class="text-center">COVID-19 CORONAVIRUS PANDEMIC <i class='fas fa-head-side-mask'></i></h1>
            <div class="row">
                <div class=" col-sm-4 col-md-4 col-xs-12">
                    <div class="card text-white bg-primary mb-3">

                        <div class="card-header">
                            <span>CASES</span>
                            <i class='fas fa-head-side-mask'></i>
                        </div>
                        <div class="card-body">
                            <span id="cases" style="font-weight:bold;"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">
                            <span>DEATHS</span>
                            <i class='fas fa-skull-crossbones'></i>
                        </div>

                        <div class="card-body">
                            <span id="deaths" style="font-weight:bold;"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">
                            <span>RECOVERED</span>
                            <i class='fas fa-band-aid'></i>
                        </div>
                        <div class="card-body">
                            <span id="recorvered" style="font-weight:bold;color:#8ACA2B"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">

                <span style="font-weight:bold;font-size: 22px; letter-spacing: 10px;">
                    @DateTime.Now.Day /
                    @DateTime.Now.Month /
                    @DateTime.Now.Year
                </span>
            </div>
        </div>

    </section>
    <section id="countries">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-sm-12 col-md-12 col-xs-12">
                    <div class="form-group">
                        <input type="text" id="myInput" onkeyup="ara()" placeholder="Search country" class="form-control">
                    </div>
                    <table class="table" id="mytable">
                        <thead>
                            <tr>
                                <th scope="col">Country </th>
                                <th scope="col">Cases</th>
                                <th scope="col">Today Cases</th>
                                <th scope="col">Deaths</th>
                                <th scope="col">Today Deaths</th>
                                <th scope="col">Recovered</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            global();
            countries();
            self.setInterval("global()", 2000);
            self.setInterval("countries()", 300000);

        });
        function global() {
            $.ajax({
                type: "GET",
                url: "https://corona.lmao.ninja/all",
                dataType: "json",
                success: function (e) {

                    $("#cases").html(e.cases)
                    $("#deaths").html(e.deaths)
                    $("#recorvered").html(e.recovered)
                }
            });
        }
        function ara() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function countries() {
            $("#mytable tbody").remove();
            $.ajax({
                type: 'GET',
                url: "https://corona.lmao.ninja/countries",
                dataType: 'json',
                success: function (data) {
                    var temp = "";

                    for (var i = 0; i < data.length; i++) {

                        temp += "<tbody><tr>"
                        temp += "<td>" + data[i]["country"] + "</td>";
                        temp += "<td>" + data[i]["cases"] + "</td>";
                        temp += "<td>" + "+" + data[i]["todayCases"] + "</td>";
                        temp += "<td>" + data[i]["deaths"] + "</td>";
                        temp += "<td>" + "+" + data[i]["todayDeaths"] + "</td>";
                        temp += "<td>" + data[i]["recovered"] + "</td></tr></tbody>";
                        $("#mytable").append(temp);
                        temp = "";
                    }

                },

            });
        }
    </script>

</body>

</html>